.PageList {
  display: flex;
  min-height: 100vh;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-title {
    color: $primary-color;
    font-size: 3em;
    font-weight: 300;
    text-align: center;
  }

  &-link {
    padding: 15px 25px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 2em;
    font-weight: 300;
    text-decoration: none;
    border: 1px solid transparent;
    transition: all 0.3s;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.4);
      border-color: $primary-color;
    }
  }
}
