@import "normalize.css/normalize";

$primary-color: #61c250;
$accent-color: #f22469;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  background-color: #4a4a4a;
  color: #fff;
}

@import "home";
@import "empathy-map/empathy-map";
